# Core RAG & LLM frameworks
langchain
langchain-google-genai
langchain-community
langgraph
langchain-text-splitters
# PDF Parsing
pymupdf4llm
pymupdf

# Utilities
python-dotenv
pydantic

boto3 
langchain-aws
numpy
# PostgreSQL
psycopg2-binary 
pgvector
yfinance
duckduckgo-search
langchain-community
ddgs
langchain-google-genai 
google-generativeai
fastmcp
uvicorn
httpx